name: nfc_event_app
description: NFC-based event management mobile app for food and goodie distribution tracking.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  nfc_manager: ^3.3.0
  http: ^1.1.0
  google_fonts: ^6.1.0
  shared_preferences: ^2.2.2
  cupertino_icons: ^1.0.6
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
